.menu-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tab-options {
    border: 0;
    background-color: transparent;
    font-size: 1em;
    padding: 1em;
    margin-left: 0.5em;
}

.tab-options:hover {
    cursor: pointer;
    color: #4288c4;
    border-bottom: 2px solid #4288c4;;
}

.tab-option-active{
    color: #4288c4;
    border-bottom: 2px solid #4288c4;;
}

.content-container {
    padding: 2.5em 2em;
}

.card-img {
    height: 18.5em; 
    width: 13.875em;
}

.card-title {
    font-size: 1em;
    font-weight: 600;
}

.backHome {
    font-size: 1.2em;
    padding: 1em;
    margin-top: 2em;
    text-decoration: none;
}

.movieTitle {
    font-weight: 700;
}

.detailsTitle {
    font-weight: 600;
}

.badge {
    font-size: 0.95em;
    padding: 0.5em 1em;
    margin: 0.5em 1em 0.5em 0em;
}